  {{ include('partials/header.html') }} 
  
       
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              Historique des messages</div>
              <form>
            <div class="card-body">
                
                    <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Message</th>
                      <th>Expiration</th>
                      <!--<th>Style</th> -->

                      <th class="hide-this"></th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for value in newsList %}
                    <tr>
                      <td><div class="alert {{ value.style }}">{{value.message}}</div></td>
                      {% if value.expire is not null %}
                        <td data-order="{{value.date|date("Y/m/d h:i")}}">{{value.expire|date('d/m/Y h:i')}}</td>
                      {% else %}
                        <td><em>Aucune</em></td>
                      {% endif %}
                      <td><a href="admin_actu.html?del={{value.id}}&token={{csrf}}" class="btn btn-danger delete-link" data-modalHint="{{value.message}}"><i class="fa fa-times-circle"></i></a></td>
                    </tr>
                   {% endfor %}
      
                                       
                  </tbody>
                </table>
                </div>
            </div>
            <!--
            <div class="card-footer small text-muted ">
            </div>
            -->
          </form>
          </div>
          
          <!-- Area Chart Example-->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-chart-area"></i>
              Publier</div>
            <div class="card-body">
              <form method="post" action="" >
              <div class="form-row">
              <input type="text" class="form-control" name="message" placeholder="Message" />
              </div>
              
              <div class="form-row align-items-center"><div class="form-group">
              <input type="checkbox" name="mail_notice" value="true" id="chkBox_mail" ><label  for="chkBox_mail"> Notification par mail</label> </div> </div>
              <div class="form-group">
              <div class="form-row align-items-center">
              <input type="checkbox" name="expire" value="true" id="chkBox_expire" > <label  for="chkBox_expire"> Expire automatiquement</label> </div> 

              <div class="form-row  align-items-center" id="dateBox">
              <div class="col-auto">
              <label>Date d'expiration</label>
              </div>
               <div class="col-auto">
                <input type="date" class="form-control" name="expire_date" />
                </div>
                <div class="col-auto">
                <input type="time" class="form-control" name="expire_time" />
                </div>
              </div></div>
              <div class="form-group">
                    <label for="style">Style du message:</label>
                    <select class="form-control" id="style" name="style">
                        <option value="info">Information (Bleu clair)</option>
                        <option value="success">Positif (Vert)</option>
                        <option value="warning">Avertissement (Jaune)</option>
                        <option value="danger">Dangereux (Rouge)</option>
                        <option value="primary">Important (Bleu)</option>
                        <option value="secondary">Normal</option>
                        <option value="dark">Sombre</option>
                        
                        
                    </select>
              </div> 
              <input type="submit" class="form-control" value="Publier">
              <input type="hidden" name="csrf" value="{{csrf}}">
              </form>
            </div>
            <!--<div class="card-footer small text-muted"></div> -->
          </div>

    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="confirmModalLabel">Etes vous sûr ?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Fermer">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Voulez-vous vraiment supprimer le message "<span id="confirmModalValueData"></span>" ?</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
            <a class="btn btn-primary" id="confirmModalLink" href="#">Oui</a>
          </div>
        </div>
      </div>
    </div>
  
  
  
  {{ include('partials/footer.html') }} 
   
