
  {{ include('partials/header.html') }} 

         
            <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              Générer un lien d'inscription</div>
            
            <div class="card-body">
            <form action="" method="post">
          <div class="form-group">
          <div class="form-row">
          <p>Les liens d'inscriptions sont uniques, ils ne sont plus valables après utilisation.</p>
          </div>
            <div class="form-row">
                <div class="col-md-6">
                  
                    <select class="form-control" id="roleSelector"  name="roleSelector" {% if not canRegister %} disabled {% endif %}>
                        <option value="Participant">Participant</option>
                        <option value="Ref">Référrent</option>
                        <!--<option>Administrateur</option>-->
                    </select>
                </div>
                <div class="col-md-2">
                   <input type="submit" value="Générer" class="form-control" {% if not canRegister %} disabled {% endif %}/> 
                </div>
              </div>
              </div> 
               <input type="hidden" value="{{csrf}}" name="csrf" id="csrf" />
              </form>

              <div id="linkDisplay">
              {% if generatedToken is not null %}
                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Lien d'inscription pour <mark>UN</mark> participant :</strong> <em><a href="{{generatedToken}}" >{{generatedToken}}</a></em>
                </div>
              {% endif %}
              </div>  
                
            </div>

    
            </div>
          
          
          
          
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              Membres</div>
              <form>
            <div class="card-body">
           <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Famille</th>
                      <th>Ville</th>
                      <th>Membres</th>
                      <th>Adresse mail</th>
                      <th>Status</th>
                      <th class="hide-this"></th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for value in memberList %}
                    <tr>
                      <td>{{value.lname}}</td>
                      <td>{{value.city}}</td>
                      <td>{{value.family_size}}</td>
                      <td>{{value.email}}</td>
                      <td>{{value.role}}</td>
                      <td><a href="membre_edit.html?id={{value.id}}&token={{csrf}}" class="btn btn-info"><i class="fa fa-edit"></i></a>
                      <a href="admin_membres.html?del={{value.id}}&token={{csrf}}" class="btn btn-danger"><i class="fa fa-times-circle"></i></a></td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            </div> 
   {{ include('partials/footer.html') }} 
