  {{ include('partials/header.html') }} 
  
        <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              Ateliers à venir</div>
              <form>
            <div class="card-body">
                
              <div class="table-responsive">
                 <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Image</th>
                      <!--<th>Date</th>-->
                      <th>Nom</th>
                      <th>Description</th>
                      <th>Me le rappeler par email</th>
                    
                    </tr>
                  </thead>
                  <tbody>
                  {% for value in workshops %}
                    <tr>
                      <td><img src="{% if value.image is same as("default") %}images/workshop.png{% else %}{{ value.image }}{% endif %}" class="img-fluid"/></td>
                      <!--<td data-order="{{value.date|date("Y/m/d h:i")}}">{{ value.date|date("d/m/Y")}}</td>-->
                      <td>{{ value.name }}</td>
                      <td data-order="{{value.date|date("Y/m/d h:i")}}">{{ value.details }}
                      
                      <br><br><strong> Le {{ value.date|date("d/m/Y")}} de {{ value.start|date('H:i') }} à {{ value.end|date('H:i') }}. </strong><br>
                      <em>Lieu: {{ value.place }}.</em>
                      </td>

                      <td>
                        <form>
                            <input type="checkbox" class="subsLink" value="{% if value.subscribed %}true{% else %}false{% endif %}" {% if value.subscribed %}checked{% endif %} data-id="{{ value.id }}" data-token="{{ csrf }}">
                            <!-- Val: {{value.subscribed}} -->
                        </form>
                      </td>
                      
                    </tr>
                  {% endfor %}
            
                  </tbody>
                </table>
              </div>
                
            </div>
            <!--
            <div class="card-footer small text-muted ">
                <div class="form-row align-items-center">
                <div class="col-auto">Saisie pour le </div><div class="col-auto"><input type="date" value="10/10/2018" max="10/10/2019" class="form-control" placeholder="Poids"></div>.</div>
            </div>
            -->
          </form>
          </div>
  
  
  {{ include('partials/footer.html') }} 
   
