  {{ include('partials/header.html') }} 
  
                 <!-- Area Chart Example-->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-chart-area"></i>
              Graphique</div>
            <div class="card-body">
       
              <canvas id="myAreaChart" width="100%" height="30" data-idFamille="{{ user.getID }}"></canvas>
            </div>
            <div class="card-footer small text-muted">Mise a jour de {{today.time|date("H:m")}}.</div>
          </div>
        
          {% if currentChallenge.isRunning and user.hasCap('Participant') %}      
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              Saisie</div>
              <form method="post" action="">
            <div class="card-body">
                
                    <div class="form-row">
  
                        <div class="col-auto">

                                        <label for="ordures">Poids ordures ménagères</label><br>
                            <div class="input-group mb-2">
                                
                                
                                    
                                    <input type="number" name="ordures" min="0" class="form-control" id="ordures" placeholder="Ordures ménagères">
                                    <div class="input-group-append">
                                        <span class="input-group-text">Kgs</span>
                                    </div>
                                
                                
                                
                                
                            </div>
                            </div>

                        
                        
                        
                        <div class="col-auto">
                        <label for="tri">Poids tri sélectif</label><br>
                            <div class="input-group mb-2">
                                
                                
                                
                                <input type="number" name="tri" min="0" class="form-control" id="tri" placeholder="Tri sélectif">
                                <div class="input-group-append">
                                    <span class="input-group-text">Kgs</span>
                                </div>
                            </div>
                        </div>
                        </div>
                        
                        <div class="form-row">
  
                        <div class="col-auto">

                                        <label for="verre">Poids Verre</label><br>
                            <div class="input-group mb-2">
                                
                                
                                    
                                    <input type="number" name="verre" min="0" class="form-control" id="verre" placeholder="Verre">
                                    <div class="input-group-append">
                                        <span class="input-group-text">Kgs</span>
                                    </div>
                                
                                
                                
                                
                            </div>
                            </div>

                        
                        
                        
                        <div class="col-auto">
                        <label for="compost">Poids Compost</label><br>
                            <div class="input-group mb-2">
                                
                                
                                
                                <input type="number" name="compost" min="0" class="form-control" id="compost" placeholder="Compost">
                                <div class="input-group-append">
                                    <span class="input-group-text">Kgs</span>
                                </div>
                            </div>
                        </div>
                        </div>
                   
                        <div class="form-row">
                        <div class="col-auto">
                            <input type="submit" class="form-control" value="Envoyer">
                        </div>
                    </div>
                
            </div>
            <div class="card-footer small text-muted ">
                <div class="form-row align-items-center">
                <div class="col-auto">Saisie pour le </div><div class="col-auto"><input type="date" name="date" value="{{today.date}}" max="{{today.date}}" min="{{currentChallenge.start|date("Y-m-d")}}" class="form-control" placeholder="Poids"></div>.</div>
            </div>
            <input type="hidden" name="csrf" value="{{csrf}}">
          </form>
          </div>
        
            <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-chart-area"></i>
              Saisie de jours d'absence</div>
            <div class="card-body">
               <form method="post" action="">
               <div class="form-row">
                    <label for="abs">Jours d'absence ce mois-ci</label>
               </div>
                <div class="form-row">
                        <div class="col-auto">
                       
                            <div class="input-group mb-2">
                                
                                
                                
                                <input type="number" name="abs" min="0" max="31" value="{{currentAbs}}" class="form-control" id="abs" placeholder="Absences">
                                <div class="input-group-append">
                                    <span class="input-group-text">Jours</span>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-auto">
                            <input type="submit" class="form-control" value="Envoyer">
                            <input type="hidden" name="csrf" value="{{csrf}}">
                        </div>
                </div>
               </form>
            </div>
          </div>
        
        
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              Valeurs</div>
              <form>
            <div class="card-body">
                
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Date</th>
                      <th>Ordures menagères</th>
                      <th>Verre</th>
                      <th>Tri sélectif</th>
                      <th>Compost</th>
                      <th class="hide-this"></th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for value in challengeEntries %}
                    <tr>
                     <!-- <td><span class="hide-this">{{value.date|date("Y/m/d")}} | </span>{{value.date|date("d/m/Y")}}</td> -->
                      <td data-order="{{value.date|date("Y/m/d")}}">{{value.date|date("d/m/Y")}}</td>
                      <td>{{value.d_ordure}}</td>
                      <td>{{value.d_verre}}</td>
                      <td>{{value.d_tri}}</td>
                      <td>{{value.d_compost}}</td>
                      <td><a href="defi.html?del={{value.id}}&token={{csrf}}" class="btn btn-danger delete-link" data-modalHint="{{value.date|date("d/m/Y")}}"><i class="fa fa-times-circle"></i></a></td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
                
            </div>
            <!--
            <div class="card-footer small text-muted ">
                <div class="form-row align-items-center">
                <div class="col-auto">Saisie pour le </div><div class="col-auto"><input type="date" value="10/10/2018" max="10/10/2019" class="form-control" placeholder="Poids"></div>.</div>
            </div>
            -->
          </form>
          </div>
 {% endif %}         


    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="confirmModalLabel">Etes vous sûr ?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Fermer">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Voulez-vous vraiment supprimer les valeurs du <span id="confirmModalValueData"></span> ?</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
            <a class="btn btn-primary" id="confirmModalLink" href="#">Oui</a>
          </div>
        </div>
      </div>
    </div>
  
  
  {{ include('partials/footer.html') }} 
   
