  {{ include('partials/header_public.html') }} 
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">Réinitialiser le mot de pase</div>
        <div class="card-body">
        {% if error %}
            <div class="alert alert-danger">
               {{error}}
            </div>
        {% endif %}
        {% if success %}
            <div class="alert alert-success">
               Si un compte existe a cette adresse, un mail a ete envoye. Verifiez vos emails. (et SPAM).
            </div>
        {% endif %}
          <div class="text-center mb-4">
            <h4>Mot de passe oublié ?</h4>
            <p>Entrez l'adresse email du compte, vous recevrez un email détaillant la procédure à suivre..</p>
          </div>
          {% if showPasswordForms %}
          <form method="post" action="">
                <div class="form-group">
                <div class="form-label-group">
                    <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Mot de passe" required="required" autofocus="autofocus">
                    <label for="inputPassword">Entrez le nouveau mot de passe.</label>
                </div>
                </div>
                <div class="form-group">
                <div class="form-label-group">
                    <input type="password" id="inputPassword2" name="password2" class="form-control" placeholder="Confirmation" required="required" autofocus="autofocus">
                    <label for="inputPassword2">Entrez a nouveau le mot de passe.</label>
                </div>
                </div>
                <input type="submit" class="btn btn-primary btn-block" value="Réinitialiser le mot de pase">
                <input type="hidden" name="csrf" value="{{csrf}}">
            </form>
          
          {% else %}
          {% if passwordChanged %}
            OK.
          {% else %}
            <form method="post" action="">
                <div class="form-group">
                <div class="form-label-group">
                    <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Entrez l'adresse email" required="required" autofocus="autofocus">
                    <label for="inputEmail">Entrez l'adresse email.</label>
                </div>
                </div>
                <input type="submit" class="btn btn-primary btn-block" value="Réinitialiser le mot de pase">
                <input type="hidden" name="csrf" value="{{csrf}}">
            </form>
          {% endif %}
          {% endif %}
          <div class="text-center">
            <a class="d-block small" href="login.html">Page de connexion</a>
          </div>
        </div>
      </div>

  {{ include('partials/footer_public.html') }} 
