  {{ include('partials/header.html') }} 
  
  
           <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              Informations {% if other_edit %}de la famille {{values.lname}}{% else %}personelles{% endif %}</div>
              <form method="post" action="">
            <div class="card-body">
          <div class="form-group">
            <div class="form-row">
            
                <div class="col-md-6">
                
                  <div class="form-label-group">
                    <input type="text" name="fname" id="firstNameRef" class="form-control" placeholder="Prénom" required="required" value="{{values.fname}}">
                    <label for="firstNameRef" >Prénom</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-label-group">
                    <input type="text" name="lname" id="lastNameRef" class="form-control" placeholder="Nom" required="required" value="{{values.lname}}">
                    <label for="lastNameRef">Nom</label>
                  </div>
                </div>
              </div>
              </div>
              
            <div class="form-group">
            <div class="form-row">
            
                <div class="col-md-2">
                
                  <div class="form-label-group">
                    <input type="text" name="city" id="ville" class="form-control" placeholder="Ville" value="Nîmes" required="required"  value="{{values.city}}">
                    <label for="ville">Ville</label>
                  </div>
                </div>
                <div class="col-md-10">
                  <div class="form-label-group">
                    <input type="text" name="address" id="adresse" class="form-control" placeholder="Adresse"  value="{{values.address}}">
                    <label for="adresse">Adresse</label>
                  </div>
                </div>
              </div>
              </div>
          
          
            <div class="form-group">
              <div class="form-label-group">
                <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Adresse Email" required="required"  value="{{values.email}}">
                <label for="inputEmail">Adresse Email</label>
              </div>
            </div>
            {% if not admin or values.id == user.id %}
            <div class="form-group">
               
                
                  <div class="form-label-group">
                    <input type="password" name="oldPassword" id="inputOldPassword" class="form-control" placeholder="Mot de passe actuel" required="required">
                    <label for="inputOldPassword">Mot de passe actuel</label>
                 
                </div>
                </div>
            {% endif %}
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <div class="form-label-group">
                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password">
                    <label for="inputPassword">Nouveau mot de passe (Si nécessaire)</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-label-group">
                    <input type="password" name="password2" id="confirmPassword" class="form-control" placeholder="Confirmation du mot de passe">
                    <label for="confirmPassword">Confirmation du nouveau mot de passe</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row align-items-center">
                <div class="col-auto">
                Composition famille : 
                </div>
                <div class="col-auto">
                    <div class="input-group">
                        <input type="number" class="form-control" name="family_size" placeholder="X" min="1" required="required" value="{{values.family_size}}"> 
                        <div class="input-group-append">
                            <span class="input-group-text">Personnes</span>
                        </div>
                    </div>
                </div>
              </div>
              
              <div class="form-group">
              
              <div class="checkbox">
                  <div >
                    <label for="consentCarte">
                    <input type="checkbox" name="consent_map" id="consentCarte" {% if values.consent_map %}checked{% endif %}>
                    J'accepte d'apparaître sur la carte. (Acessible aux membres uniquement)</label>
                  </div>
              </div>
              <div class="checkbox">
                  <div >
                    <label for="consentMail">
                    <input type="checkbox" name="consent_email" id="consentMail" {% if values.consent_email %}checked{% endif %}>
                    J'accepte de reçevoir des mails de la part de Luluzed. (<strong>Important</strong>)</label>
                  </div>
              </div>  
              {% if admin %}
              <div class="checkbox">
                  <div >
                    <label for="admin">
                    <input type="checkbox" name="admin" id="admin" {% if values.admin %}checked{% endif %}>
                   Administrateur. (<strong>Attention !</strong>)</label>
                  </div>
              </div>  
              {% endif %}
              
              
              
            </div>
            <input type="submit" class="btn btn-primary btn-block" value="Modifier">
            <input type="hidden" value="{{csrf}}" name="csrf">
            <input type="hidden" value="{{values.id}}" name="id">
          </form>
          </div></div>

  
  {{ include('partials/footer.html') }} 
   
